@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  max-width: 100%; /* 防止 Markdown 自动限制内容宽度 */
}

.prose pre {
  @apply bg-gray-300 text-white p-4 rounded-md overflow-x-auto;
}

.prose code {
  @apply bg-gray-300 text-black px-1 py-0.5 rounded;
}

.prose blockquote {
  @apply border-l-4 border-gray-500 pl-4 italic text-gray-600;
}

.mdText {
  @apply text-gray-900 dark:text-gray-100;
}

.mdTable {
  @apply border-collapse border border-gray-900 dark:border-gray-100 text-center
}

.mdTheme {
  @apply bg-green-100 dark:bg-gray-900  text-gray-900 dark:text-gray-100
}

/* globals.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #1f2937;
}

/* 隐藏滚动条样式 */
.scrollbar-hide,
div {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}
.scrollbar-hide::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
